/* Custom CSS styles */
body {
    background-color: rgb(245, 233, 221) !important;
    color: rgb(110, 90, 54);
}

.jumbotron {
  background-color: rgb(245, 233, 221) !important;
  padding: 100px 0;
  text-align: center;
}

.features {
  background-color: rgb(245, 233, 221) !important;
  padding: 50px 0;
  text-align: center;
}
