/* Custom CSS styles */
body {
    background-color: rgb(245, 233, 221) !important;
    color: rgb(110, 90, 54);
    padding: 0;
    margin: 0;
}

a {
    list-style: none;
    color: rgb(140, 110, 74) !important;
}

/* .cover-image {
    background-image: url('images/journal.jpeg');
    background-size: cover;
    background-position: center;
} */

.cover-image {
    opacity: 0.6;
    width: 100%;
    height: 80%;
    z-index: -1;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.jumbotron {
  background-color: rgb(245, 233, 221) !important;
  padding:0;
  text-align: center;
}

.features {
  background-color: rgb(245, 233, 221) !important;
  padding:50px 0;
  text-align: center;
}

.custom-bg {
    background-color: rgb(140, 110, 74) !important;
    color: white !important;
    border: none !important;
    outline: none !important;
}

.custom-bg:hover {
    background-color: rgb(120, 90, 54) !important;
}

.custom-text {
    color: rgb(140, 110, 74) !important;
}

.custom-text:hover {
    color: rgb(110, 90, 54) !important;
}

.custom-textt {
    color: rgb(140, 110, 74) !important;
}

.nav_text {
    color: white !important;
}

.bg {
    background-color: rgb(245, 233, 221) !important;
}

.pig {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    justify-content: center !important;
}

.land_page_img {
    width: 10% !important;
    height: 10% !important;
}

.big-text {
  font-size: 20px !important;
  font-family: Arial, sans-serif !important;
  font-style: italic !important;
  line-height: 1.4 !important;
}

.img_size {
    width: 4% !important;
    height: 4% !important;
}
