---
---

@import "{{ site.theme }}";

/* Custom CSS styles*/

/* For example: */
.body {
  background-color:rgb(245, 233, 221) !important;
}

.page-header {
  background-color:rgb(245, 233, 221) !important;
  padding: 20px !important;
  margin-bottom: 20px !important;
}

.project-name {
  font-size: 28px !important;
  font-weight: bold !important;
}

.project-tagline {
  font-size: 18px !important;
  font-weight: normal !important;
}

.site-footer {
  background-color: rgb(245, 233, 221) !important;
  padding: 20px !important;
  margin-top: 20px !important;
}
